{%- if description %}
  <meta name="description" content="{{ description }}">
{%- endif %}
  <link rel="canonical" href="{{ url | safe }}">
  <meta property="og:title" content="{{ title }}">
{%- if description %}
  <meta property="og:description" content="{{ description }}">
{%- endif %}
  <meta property="og:url" content="{{ url | safe }}">
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:site_name" content="{{ config.title }}">
{%- if featured_image %}
  <meta property="og:image" content="{% if featured_image is startingwith("http") %}{{ featured_image | safe }}{% else %}{{ config.base_url | safe }}{{ featured_image | safe }}{% endif %}">
{%- endif %}
  <meta name="twitter:card" content="{% if featured_image %}summary_large_image{% else %}summary{% endif %}">
