{%- if pagination.total_pages > 1 %}
    <nav>
      <ul class="pagination" data-base-url="{{ pagination.base_url | safe }}">
      {%- for item in pagination.items %}
        {%- if item.number %}
        <li class="pagination-item{% if item.is_current %} active{% endif %}">
          <span class="pagination-link"><a href="{{ item.url | safe }}">{{ item.number }}</a></span>
        </li>
        {%- else %}
        <li class="pagination-item ellipsis">
          <span class="pagination-link pagination-jump" role="button" tabindex="0" title="Jump to page">&hellip;</span>
          <input class="pagination-input" type="number" min="1" max="{{ pagination.total_pages }}" aria-label="Jump to page">
        </li>
        {%- endif %}
      {%- endfor %}
      </ul>
    </nav>

    <script src="/js/pagination.js" defer></script>
{%- endif %}
