@layer components {
  .prose pre.mermaid {
    @apply my-4 flex justify-center rounded-lg bg-bg-muted p-6;
    color: inherit;
    font-family: var(--font-sans);
  }

  .prose pre.mermaid svg {
    @apply max-w-full;
    height: auto;
  }
}
