pre.mermaid {
  @apply my-4 flex styled-scrollbar overflow-x-auto rounded-lg p-6;
  color: inherit;
  font-family: var(--font-sans);
  justify-content: safe center;
}

pre.mermaid svg {
  @apply max-w-none;
  height: auto;
}
