{# Site-wide recent-comments feed. Use as `:::comments-recent\n:::` in any page. #}
{%- set cdn = config.params.cdn -%}
{%- set tw = config.params.comments.twikoo -%}
{%- set katex = config.params.deps.katex -%}
{%- set tw_dep = config.params.deps.twikoo -%}
<section aria-labelledby="recent-comments-heading">
  <h2 id="recent-comments-heading" class="article-title mb-4">{{ t('comments_recent_heading') }}</h2>
  <div
    class="tk-comments-container"
    data-recent-comments
    data-twikoo-api-url="{{ tw.api_url }}"
    data-error-text="{{ t('comments_error') }}"
    data-empty-text="{{ t('comments_empty') }}"
  >
    <div class="tk-loading" data-recent-status>{{ t('comments_loading') }}</div>
  </div>
</section>

<script src="{{ cdn | safe }}/katex@{{ katex.version }}/dist/katex.min.js" defer></script>
<script src="{{ cdn | safe }}/katex@{{ katex.version }}/dist/contrib/auto-render.min.js" defer></script>
<script
  src="{{ cdn | safe }}/twikoo@{{ tw_dep.version }}/dist/twikoo.min.js"
  integrity="{{ tw_dep.sri }}"
  crossorigin="anonymous"
  defer
></script>
<script src="{{ config.base_url | safe }}/js/comments/recent.js" defer></script>
