{%- set name = named_args.name | default("") -%}
{%- set url = named_args.url | default("") -%}
{%- set desc = named_args.desc | default(name) -%}
{%- set logo = named_args.logo | default("") -%}
<a href="{{ url | safe }}"{% if url is startingwith("http") %} rel="noopener" target="_blank"{% endif %} class="link-card">
{%- if logo %}
  <img src="{{ logo | safe }}" alt="{{ name }}" class="link-avatar" loading="lazy">
{%- endif %}
  <div class="link-body">
    <div class="link-title">{{ name }}</div>
    <div class="link-desc">{{ desc }}</div>
  </div>
</a>
