{%- set server = named_args.server | default("") -%}
{%- set id = named_args.id | default("") -%}
{%- set type = named_args.type | default("song") -%}
{%- if server == "apple" -%}
{#- Apple Music: dual light/dark iframes -#}
{%- set name = named_args.name | default("") -%}
{%- set country = named_args.country | default("cn") -%}
{%- set height = named_args.height | default("450") -%}
<div class="apple-music-wrapper" id="{{ name }}">
  <iframe
    class="apple-music-light w-full overflow-hidden rounded-lg"
    title="Apple Music player"
    allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
    height="{{ height }}"
    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
    src="https://embed.music.apple.com/{{ country }}/{{ type }}/{{ id }}?l=en-GB"
  ></iframe>
  <iframe
    class="apple-music-dark w-full overflow-hidden rounded-lg"
    title="Apple Music player"
    allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
    height="{{ height }}"
    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
    src="https://embed.music.apple.com/{{ country }}/{{ type }}/{{ id }}?l=en-GB&amp;theme=dark"
  ></iframe>
</div>
{%- elif server == "netease" -%}
{#- NetEase Cloud Music: official outchain player
    outchain type: 0 = playlist, 2 = single song -#}
{%- set height = named_args.height | default("86") -%}
{%- if type == "playlist" -%}
  {%- set outchain_type = 0 -%}
  {%- set inner_height = 430 -%}
{%- else -%}
  {%- set outchain_type = 2 -%}
  {%- set inner_height = 66 -%}
{%- endif -%}
<div class="music-player-wrapper">
  <iframe
    class="w-full border-0"
    title="NetEase Music player"
    height="{{ height }}"
    src="https://music.163.com/outchain/player?type={{ outchain_type }}&id={{ id }}&auto=0&height={{ inner_height }}"
  ></iframe>
</div>
{%- elif server == "tencent" -%}
{#- QQ Music: official outchain player (requires numeric songid) -#}
{%- set height = named_args.height | default("60") -%}
<div class="music-player-wrapper">
  <iframe
    class="w-full border-0"
    title="QQ Music player"
    height="{{ height }}"
    src="https://i.y.qq.com/n2/m/outchain/player/index.html?songid={{ id }}&songtype=0"
  ></iframe>
</div>
{%- else -%}
{#- Unknown server -#}
<div class="music-player-wrapper">
  <p>Unknown music server: {{ server }}</p>
</div>
{%- endif -%}
