{%- set cdn = config.params.cdn | default("https://cdn.jsdelivr.net/npm") -%}
{#- FontAwesome (when enabled in config) -#}
{%- if config.params.fontawesome | default(false) %}
  {%- set fa = cdn ~ "/@fortawesome/fontawesome-free@6" -%}
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-solid-900.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-regular-400.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link rel="stylesheet" href="{{ fa | safe }}/css/all.min.css">
{%- endif %}
{#- KaTeX (loaded only on pages where the renderer detected math) -#}
{%- if assets is defined and "math" in assets.features %}
  <link rel="stylesheet" href="{{ cdn | safe }}/katex@0.16/dist/katex.min.css">
{%- endif %}
