{%- set cdn = config.params.cdn | default("https://cdn.jsdelivr.net/npm") -%}
{%- set deps = config.params.deps -%}
{%- set need_fontawesome = config.params.fontawesome | default(false) -%}
{%- set lightgallery = config.params.lightgallery | default(value={}) -%}
{%- set need_lightgallery = lightgallery.enabled | default(false) -%}
{%- set need_math = assets is defined and "math" in assets.features -%}

{%- if need_fontawesome %}
  {%- set fa = cdn ~ "/@fortawesome/fontawesome-free@" ~ deps.fontawesome.version -%}
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-solid-900.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-regular-400.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-brands-400.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="stylesheet"
    href="{{ fa | safe }}/css/all.min.css"
    integrity="{{ deps.fontawesome.sri.css }}"
    crossorigin="anonymous"
  >
{%- endif %}

{%- if need_lightgallery %}
  {%- set lg = cdn ~ "/lightgallery@" ~ deps.lightgallery.version -%}
  {%- if lightgallery.license_key %}
  <meta name="lg-license-key" content="{{ lightgallery.license_key }}">
  {%- endif %}
  <link
    rel="stylesheet"
    href="{{ lg | safe }}/css/lightgallery-bundle.min.css"
    integrity="{{ deps.lightgallery.sri.css }}"
    crossorigin="anonymous"
  >
{%- endif %}

{%- if need_math %}
  {%- set katex = cdn ~ "/katex@" ~ deps.katex.version -%}
  <link
    rel="stylesheet"
    href="{{ katex | safe }}/dist/katex.min.css"
    integrity="{{ deps.katex.sri.css }}"
    crossorigin="anonymous"
  >
{%- endif %}
