{%- set cdn = config.params.cdn | default("https://cdn.jsdelivr.net/npm") -%}
{%- set deps = config.params.deps -%}
{%- set need_fontawesome = config.params.fontawesome | default(false) -%}
{%- set need_math = assets is defined and "math" in assets.features -%}

{%- if need_fontawesome %}
  {%- set fa = cdn ~ "/@fortawesome/fontawesome-free@" ~ deps.fontawesome.version -%}
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-solid-900.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-regular-400.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="{{ fa | safe }}/webfonts/fa-brands-400.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="stylesheet"
    href="{{ fa | safe }}/css/all.min.css"
    integrity="{{ deps.fontawesome.sri.css }}"
    crossorigin="anonymous"
  >
{%- endif %}

{%- if need_math %}
  {%- set katex = cdn ~ "/katex@" ~ deps.katex.version -%}
  <link
    rel="stylesheet"
    href="{{ katex | safe }}/dist/katex.min.css"
    integrity="{{ deps.katex.sri.css }}"
    crossorigin="anonymous"
  >
{%- endif %}
