<!DOCTYPE html>
<html lang="{{ config.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>{{ config.title }}</title>{% endblock %}
  <link rel="icon" href="{{ config.base_url | safe }}/favicon.ico" sizes="32x32">
  <link rel="apple-touch-icon" href="{{ config.base_url | safe }}/apple-touch-icon.png">
  <link rel="manifest" href="{{ config.base_url | safe }}/manifest.webmanifest">
  <link rel="stylesheet" href="{{ config.base_url | safe }}/css/style.min.css">
  <script src="{{ config.base_url | safe }}/js/theme.min.js"></script>
  {% include "_partials/layout/head-deps.html" %}
  {%- block head %}{% endblock %}
</head>

<body
  {%- if config.params.background and config.params.background.image %}
  style="--bg-image: url('{{ config.base_url | safe }}{{ config.params.background.image | safe }}'){% if config.params.background.position %}; --bg-position: {{ config.params.background.position }}{% endif %}{% if config.params.background.position_mobile %}; --bg-position-mobile: {{ config.params.background.position_mobile }}{% endif %}"
  {%- endif %}
>
  {% include "_partials/layout/header.html" %}
  <main class="flex-1 pt-16">
    {%- block body %}{% endblock %}
  </main>
  {% include "_partials/layout/footer.html" %}
  <script src="{{ config.base_url | safe }}/js/content.min.js" defer></script>
  <script src="{{ config.base_url | safe }}/js/glow.min.js" defer></script>
  <script src="{{ config.base_url | safe }}/js/toc.min.js" defer></script>
  {%- block scripts %}{% endblock %}
</body>
</html>
