{% extends "base.html" %}

{% block title %}<title>{{ title }} - {{ config.title }}</title>{% endblock %}

{% block head %}
{%- set og_type = "article" -%}
{%- include "_partials/meta-og.html" %}
{%- endblock %}

{% block body %}
  <article>
    <header>
      <h1>{{ title }}</h1>
      {%- if date %}
      <time datetime="{{ date }}">{{ date }}</time>
      {%- endif %}
    </header>
    {%- if toc %}
    <aside>{{ toc | safe }}</aside>
    {%- endif %}
    <div class="content">{{ content | safe }}</div>
  </article>
{%- endblock %}
